.navbar  {
  height: 120px;
}

.botones {
  background-color: #eeeeee;
}

h1{
  float: left;

}

.articulos{
background-color: #ff8a65;
padding:20px;
}

.noticias{
background-color: #00acc1 ;

}

h2{
  text-decoration:underline;
}

h2 ,p{
  color:white;
}

.elemento-busqueda{
  color: white;
}
